.main-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px

}
.card-div{
    border: 1px solid black;
    padding: 20px 10px;
    width: 300px;
    height:auto
}
.card-div img{
    width: 200px;
    object-fit: contain;
    aspect-ratio: 3/2;
}
.card-div p{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}