/* Home.css */
.carousel {
    height: 70vh; /* 50% of the viewport height */
  }
  
  .carousel-inner {
    height: 100%;
  }
  
  .carousel-item {
    height: 100%;
  }
  
  .carousel-item img {
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    height: 100%;
    width: 100%;
    filter: brightness(40%);
  }
  button{
    font-size:14px;
    letter-spacing:1px;
    /* box-shadow:none; */
  }
  .button-skew{
    transform: skewX(-20deg)
  }
  .border-div{
    border:1px solid white;
    margin-bottom:20px;
    display: inline-block;
    font-size:12px;
    letter-spacing:1px;
  }