.about-box {
    /* height: 160px;    */
     cursor: pointer;
    border-radius: 6px;
    align-items: center;
    background-color: #ECF0F3;
    box-shadow: rgba(213, 213, 214, 0.603) 3px 3px 11px 0px inset, white -3px -3px 6px 1px,rgb(182, 194, 204) 6px 6px 14px 0px,rgba(255, 255, 255, 0.774) -5px -5px 6px 1px inset;
    transition: all 0.5s ease;
}
.about-text p{
    font-size: 17px;
    background-color: #ECF0F3;
}
.skill-box{
    background-color: #ECF0F3;

}